:host {
  display: block;
}


@keyframes balanceo {
  0% { transform: rotate(-5deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-5deg); }
}

.animate-viento {
  animation: balanceo 6s ease-in-out infinite;
  transform-origin: top right; /* El punto de rotación */
}

/* Para los que ya tienen una rotación base de 90 grados */
@keyframes balanceo-90 {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

.animate-viento-90 {
  animation: balanceo-90 8s ease-in-out infinite;
  transform-origin: top left;
}


/* Asegura que el contenedor tenga espacio visible en la pantalla */
#paymentRef {
  display: block !important;
  min-height: 150px; /* PayPal suele necesitar al menos 150px de alto */
  width: 100%;
  max-width: 500px; /* O el ancho que desees para el botón */
  margin: 20px auto; /* Centra el botón si es necesario */
}
