<div class="max-w-sm w-full mx-auto bg-white p-4 rounded-xl shadow-sm border border-olive-100">

  <div class="flex items-center justify-between mb-3">
    <h3 class="g-text text-base font-bold text-olive-800 capitalize">{{ obtenerNombreMes() }}</h3>
    <div class="flex space-x-1.5">
      <button (click)="cambiarMes(-1)" [disabled]="esMesActual()"
        class="p-2 rounded-xl border border-olive-200 font-bold text-olive-600 transition-all hover:bg-olive-300 cursor-pointer disabled:opacity-90 disabled:bg-olive-100 disabled:text-olive-400 disabled:cursor-not-allowed shadow-sm active:scale-95">
        <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
      </button>
      <button (click)="cambiarMes(1)"
        class="p-2 rounded-xl border border-olive-200 font-bold text-olive-600 transition-all hover:bg-olive-300 cursor-pointer shadow-sm active:scale-95">
        <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
  </div>

  <div class="flex space-x-3 mb-3 text-[11px] font-medium justify-center">
    <div class="flex items-center space-x-1">
      <span class="w-2.5 h-2.5 bg-green-300 border border-green-500 rounded-full inline-block"></span>
      <span class="g-text text-olive-600">Disponible</span>
    </div>
    <div class="flex items-center space-x-1">
      <span class="w-2.5 h-2.5 bg-red-300 border border-red-500 rounded-full inline-block"></span>
      <span class="g-text text-olive-600">Ocupado</span>
    </div>
  </div>

  <div class="grid grid-cols-7 gap-1 text-center text-[11px] font-bold text-olive-400 uppercase tracking-wider mb-1">
    <div>Do</div><div>Lu</div><div>Ma</div><div>Mi</div><div>Ju</div><div>Vi</div><div>Sá</div>
  </div>

  <div class="grid grid-cols-7 gap-1 text-center">
    @for (dia of diasDelMes(); track $index) {
      <div>
        @if (dia.numero) {
          <button
            (click)="seleccionarDia(dia)"
            [disabled]="!dia.disponible"
            [ngClass]="obtenerClaseEstadoDia(dia)"
            class="cursor-pointer w-full p-1 rounded-lg text-xs font-semibold transition-all outline-none">
            {{ dia.numero }}
          </button>
        } @else {
          <div class="p-1"></div>
        }
      </div>
    }
  </div>

</div>
