<section class="relative w-full min-h-screen flex flex-col items-center py-10 px-6 md:px-20 bg-[#f2f2f0]">
  <!-- Título -->
  <h2 class="g-text-extrabold text-4xl sm:text-4xl md:text-5xl tracking-widest uppercase mb-20 mt-20 text-olive-600">
    Galería
  </h2>

  <!-- Contenedor del Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-6xl text-center">

    <!-- LADO IZQUIERDO -->
    <div class="grid gap-4">
      <!-- Imagen Larga Vertical -->
      <div class=" touch-auto group relative overflow-hidden rounded-[10px] h-150 cursor-pointer animate-reveal delay-1" (click)="openModal(0)">
        <img src="assets/img/GALERIA/tu-imagen-1.jpg" alt="Cabaña" class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
      <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-500 shadow-[inset_0_0_100px_rgba(0,0,0,0.5)]">
        <span class="text-white g-text-bold text-xl tracking-[0.3em] uppercase border-b-2 border-white pb-1 transform translate-y-4 group-hover:translate-y-0 transition-all duration-500">
          Ver
        </span>
      </div>
      </div>
      <!-- Imagen Horizontal -->
      <div class="group relative overflow-hidden rounded-[10px] h-75 cursor-pointer animate-reveal delay-4" (click)="openModal(3)">
        <img src="assets/img/GALERIA/tu-imagen-4.jpg"  alt="Vista" class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
      <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-500 shadow-[inset_0_0_100px_rgba(0,0,0,0.5)]">
        <span class="text-white g-text-bold text-xl tracking-[0.3em] uppercase border-b-2 border-white pb-1 transform translate-y-4 group-hover:translate-y-0 transition-all duration-500">
          Ver
        </span>
      </div>
      </div>
      <!-- Imagen Horizontal 2 -->
      <div class="group relative overflow-hidden rounded-[10px] h-75 cursor-pointer animate-reveal delay-5" (click)="openModal(1)">
        <img src="assets/img/GALERIA/tu-imagen-5.jpg"  alt="Fachada" class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
      <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-500 shadow-[inset_0_0_100px_rgba(0,0,0,0.5)]">
        <span class="text-white g-text-bold text-xl tracking-[0.3em] uppercase border-b-2 border-white pb-1 transform translate-y-4 group-hover:translate-y-0 transition-all duration-500">
          Ver
        </span>
      </div>
      </div>
    </div>

    <!-- LADO DERECHO -->
    <div class="grid gap-4">
      <!-- Imagen Horizontal Superior -->
      <div class="group relative overflow-hidden rounded-[10px] h-75 cursor-pointer animate-reveal delay-2" (click)="openModal(4)">
        <img src="assets/img/GALERIA/tu-imagen-5.jpg"  alt="Exterior" class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
      <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-500 shadow-[inset_0_0_100px_rgba(0,0,0,0.5)]">
        <span class="text-white g-text-bold text-xl tracking-[0.3em] uppercase border-b-2 border-white pb-1 transform translate-y-4 group-hover:translate-y-0 transition-all duration-500">
          Ver
        </span>
      </div>
      </div>
      <!-- Imagen Horizontal Media -->
      <div class="group relative overflow-hidden rounded-[10px] h-75 cursor-pointer animate-reveal delay-3" (click)="openModal(2)">
        <img src="assets/img/GALERIA/tu-imagen-3.jpg"  alt="Entorno" class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
      <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-500 shadow-[inset_0_0_100px_rgba(0,0,0,0.5)]">
        <span class="text-white g-text-bold text-xl tracking-[0.3em] uppercase border-b-2 border-white pb-1 transform translate-y-4 group-hover:translate-y-0 transition-all duration-500">
          Ver
        </span>
      </div>
      </div>
      <!-- Imagen Larga Vertical Inferior -->
      <div class="group relative overflow-hidden rounded-[10px] h-150 cursor-pointer animate-reveal delay-6" (click)="openModal(5)">
        <img src="assets/img/GALERIA/tu-imagen-6.jpg"  alt="Piscina" class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
      <div class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-500 shadow-[inset_0_0_100px_rgba(0,0,0,0.5)]">
        <span class="text-white g-text-bold text-xl tracking-[0.3em] uppercase border-b-2 border-white pb-1 transform translate-y-4 group-hover:translate-y-0 transition-all duration-500">
          Ver
        </span>
      </div>
      </div>
    </div>

  </div>


    <!-- Título -->
    <h2 class="g-text-extrabold text-4xl md:text-5xl tracking-widest uppercase mb-0 mt-20 text-olive-600">
      Clientes Satisfechos
    </h2>


</section>

<section class="relative w-full min-h-100vh flex flex-col items-center py-10 px-6 md:px-20 bg-[#f2f2f0]">
    <!-- Contenedor principal del Carrusel -->
    <div class=" bg-linear-to-b from-[#f2f2f0] from-90% to-[#f2f2f0]">


      <div class="relative group w-full max-w-full px-4">

        <!-- Flecha Izquierda -->
        <button (click)="handleManualNav('prev')"
                class="cursor-pointer absolute left-6 top-1/2 -translate-y-1/2 z-30 w-14 h-14 bg-white/10 hover:bg-white/30 backdrop-blur-md rounded-full flex items-center justify-center text-white transition-all opacity-0 group-hover:opacity-100 border border-white/20">
          <i class="fa-solid fa-chevron-left text-2xl"></i>
        </button>

        <!-- Ventana de visualización (Clip) -->
        <div class="overflow-hidden rounded-xl bg-transparent">
          <!-- Tira de imágenes animada -->
          <div class="flex transition-transform duration-700 ease-in-out gap-2"
              [style.transform]="'translateX(-' + (currentIndex() * (100 / testimonials().length)) + '%)'">

            @for (item of extendedTestimonials(); track $index) {
              <div class="group/item relative min-w-full md:min-w-[33.33%] lg:min-w-[25%] h-112.5 overflow-hidden rounded-[10px] ">
                <img [src]="item.img"
                    [alt]="item.alt"
                    class="w-full h-full border-radius object-cover brightness-90 transition-all duration-500 cursor-pointer shadow-2xl group-hover/item:scale-110 group-hover/item:brightness-50">

                    <!-- Capa Negra con Texto (Overlay) -->
              <div class="absolute inset-0 bg-black/60 flex flex-col items-center justify-center opacity-0 group-hover/item:opacity-100 transition-opacity duration-500 p-6 text-center">
                <!-- Texto que aparece -->
                <span class="text-white g-text text-xs tracking-[0.2em] uppercase mb-2 transform translate-y-4 group-hover/item:translate-y-0 transition-transform duration-500">
                  {{ item.alt }}
                </span>
                <p class="text-white g-text text-lg leading-tight transform translate-y-4 group-hover/item:translate-y-0 transition-transform duration-700 delay-75">
                  {{ item.text }}
                </p>
                <div class="w-10 h-0.5 bg-[#ff8B64] mt-4 transform scale-x-0 group-hover/item:scale-x-100 transition-transform duration-500"></div>
              </div>

            </div>
            }
          </div>
        </div>

        <!-- Flecha Derecha -->
        <button (click)="handleManualNav('next')"
                class="cursor-pointer absolute right-6 top-1/2 -translate-y-1/2 z-30 w-14 h-14 bg-white/10 hover:bg-white/30 backdrop-blur-md rounded-full flex items-center justify-center text-white transition-all opacity-0 group-hover:opacity-100 border border-white/20">
          <i class="fa-solid fa-chevron-right text-2xl"></i>
        </button>
      </div>


    </div>
</section>






<!-- POP-UP CARRUSEL -->
@if (showModal()) {
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/95 backdrop-blur-md transition-opacity duration-300"
       (click)="closeModal()">

    <!-- Botón Cerrar -->
    <button (click)="closeModal()" class="absolute top-5 right-5 text-white text-5xl font-light z-70">&times;</button>

    <!-- Navegación Izquierda -->
    <button (click)="$event.stopPropagation(); prevImage()"
            class="cursor-pointer absolute left-4 md:left-10 text-white text-6xl hover:text-olive-400 transition-colors z-60 font-serif">
      &#8249;
    </button>

    <!-- Contenedor Principal -->
    <div class="relative max-w-5xl w-full flex flex-col items-center p-4" (click)="$event.stopPropagation()">
      <div class="overflow-hidden rounded-2xl shadow-2xl border border-white/10">
        <img [src]="images()[currentIndex2()]"
             class="max-w-full max-h-[75vh] object-contain transition-all duration-500 transform scale-100"
             alt="Vista ampliada">
      </div>

      <!-- Contador e Indicador -->
      <div class="mt-6 text-center">
        <p class="text-white/60 text-sm tracking-[0.2em] uppercase g-text">
          Imagen {{ currentIndex2() + 1 }} de {{ images().length }}
        </p>
      </div>
    </div>

    <!-- Navegación Derecha -->
    <button (click)="$event.stopPropagation(); nextImage()"
            class=" cursor-pointer absolute right-4 md:right-10 text-white text-6xl hover:text-olive-400 transition-colors z-60 font-serif">
      &#8250;
    </button>
  </div>
}
