<div class="relative w-full h-screen flex items-center justify-end px-10 md:px-20">

  <div class="absolute inset-0 z-0">
    <img
      src="assets/img/hero-cabin.png"
      alt="Cabañas Flores de la Luna"
      class="w-full h-full object-cover object-top">
  </div>

  <div class="relative z-10 bg-white/95 backdrop-blur-sm p-10 rounded-xl shadow-2xl max-w-md text-center">

    <div class="flex justify-center mb-2">
      <img src="assets/img/LOGO.png" alt="Logo" class="h-30 object-contain">
    </div>

    <h1 class="font-montserrat text-xl font-bold text-slate-800 leading-tight mb-4">
      Reserva tu próxima escapada y conecta con el entorno natural!
    </h1>

    <p class="font-montserrat text-sm text-slate-600 leading-relaxed mb-8">
      Conoce nuestras instalaciones, el refugio perfecto donde podrás disfrutar de tus vacaciones y relajarte en total armonía con la naturaleza.
    </p>

<div class="w-full mt-10">

  <button class="w-full bg-[#D18B73] hover:bg-[#b8765f] cursor-pointer font-montserrat font-extrabold text-white py-4 px-8 rounded-full transition-all uppercase tracking-[0.2em] text-xs shadow-md active:scale-[0.98] text-center">
    Reserva Ahora
  </button>

</div>

  </div>

</div>

