<section class="relative w-full h-screen flex items-center justify-end px-10 md:px-20 mt-5">

  <div class="absolute inset-0 z-0">
    <img
      src="assets/img/hero-cabin.png"
      alt="Cabañas Flores de la Luna"
      class="w-full h-full object-cover object-top animate-fade-up">
  </div>

  <div class="relative z-10 bg-white/95 backdrop-blur-sm p-10 rounded-xl shadow-2xl max-w-md text-center" data-aos="fade-center" data-aos-delay="100">

    <div class="flex justify-center mb-2">
      <img src="assets/img/LOGO.png" alt="Logo" class="h-30 object-contain">
    </div>

    <h1 class="g-text-bold text-xl text-olive-700 leading-tight mb-4">
      Reserva tu próxima escapada y conecta con el entorno natural!
    </h1>

    <p class="g-text text-sm text-olive-600 leading-relaxed mb-8">
      Conoce nuestras instalaciones, el refugio perfecto donde podrás disfrutar de tus vacaciones y relajarte en total armonía con la naturaleza.
    </p>

<div class="w-full mt-10">

  <button [routerLink]="['/reservations']" fragment="form" class="w-full bg-[#ff8B64] hover:bg-[#df9f88] cursor-pointer g-text-bold text-white py-4 px-8 rounded-full transition-all uppercase tracking-[0.2em] text-sm shadow-md active:scale-115 hover:scale-105 text-center">
    Reserva Ahora
  </button>

</div>

  </div>

</section>



<section class="relative w-full min-h-screen py-24 px-6 md:px-20 overflow-hidden bg-olive-300">

  <div class="absolute inset-0 z-0">
    <img
      src="assets/img/HOME/section2.png"
      alt="Fondo de árboles"
      class="w-full h-full object-cover">

    <div class="absolute inset-0 bg-linear-to-b from-white via-transparent to-white"></div>
  </div>

  <div class="relative z-10 max-w-6xl mx-auto text-center">

    <h2 class="g-text-extrabold text-4xl md:text-5xl text-olive-700 mb-8 uppercase tracking-tight">
      Tu Descanso esta en Flores de Luna
    </h2>

    <p class="g-text text-sm md:text-base text-olive-500 max-w-3xl mx-auto leading-relaxed mb-16">
      Quieres un momento para Descansar, salir de la monotonia, estar lejos de la Ciudad.
      Las Cabañas <span class="g-text-bold text-olive-700">Flores de Luna</span>, son el lugar perfecto para Divertirte, Disfrutar, Relajarte o buscar un Descanso placentero.
      Estamos a tan solo 40 minutos de monterrey, en la comunidad del Porvenir.
    </p>

    <p class="g-text text-sm text-olive-500 mb-20 italic">
      Contamos con 5 Estilos de Cabañas, elige la que más te guste.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-20 gap-y-32">

      <div class="flex flex-col items-center group" data-aos="fade-right" data-aos-delay="100">

        <div class="w-full aspect-4/3 rounded-[45px] overflow-hidden shadow-2xl mb-8">
          <img
            src="assets/img/GALERIA/01_Orquidea_pareja.png" [routerLink]="['/gallery']"
            alt="Orquídea"
            class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
        </div>

        <h3 class="g-text-bold cursor-none text-3xl md:text-4xl text-olive-600 uppercase tracking-[0.3em] transition-colors duration-300 group-hover:text-[#ff8B64]">
          Orquídea
        </h3>

      </div>

      <div class="flex flex-col items-center group" data-aos="fade-left" data-aos-delay="100">

        <div class="w-full aspect-4/3 rounded-[45px] overflow-hidden shadow-2xl mb-8">
          <img
            src="assets/img/GALERIA/02_Girasol_familiar.png" [routerLink]="['/gallery']"
            alt="Girasol"
            class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
        </div>

        <h3 class="g-text-bold cursor-none text-3xl md:text-4xl text-olive-600 uppercase tracking-[0.3em] transition-colors duration-300 group-hover:text-[#ff8B64]">
          Girasol
        </h3>

      </div>

    </div>
  </div>
</section>



<section class="relative w-full min-h-screen py-24 px-6 md:px-20 overflow-hidden flex items-center justify-center text-center">

  <div class="absolute inset-0 z-0">
    <img
      src="assets/img/HOME/section3_2.png"
      alt="Fondo de árboles"
      class="w-full h-full object-cover">
  </div>

  <div class="relative z-10 max-w-6xl w-full mx-auto">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 lg:gap-x-10 gap-y-10 ">

      <div class="flex flex-col items-center group" data-aos="fade-right" data-aos-delay="100">
        <div class="w-full max-w-125 aspect-4/3 rounded-[45px] overflow-hidden shadow-2xl mb-8">
          <img
            src="assets/img/GALERIA/03_Tulipan_familiar.png"  [routerLink]="['/gallery']"
            alt="Tulipan"
            class="w-full h-full object-cover cursor-pointer transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="g-text-bold cursor-none text-3xl md:text-4xl text-white uppercase tracking-[0.3em] transition-colors duration-300 group-hover:text-[#ff8B64]">
          Túlipan
        </h3>
      </div>

      <div class="flex flex-col items-center group" data-aos="fade-left" data-aos-delay="100">
        <div class="w-full max-w-125 aspect-4/3 rounded-[45px] overflow-hidden shadow-2xl mb-8">
          <img
            src="assets/img/GALERIA/tu-imagen-7.jpg"
            alt="Girasol"
            class="w-full h-full object-cover  transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="g-text-bold cursor-none text-3xl md:text-4xl text-white uppercase tracking-[0.3em] transition-colors duration-300 group-hover:text-[#ff8B64]">
          Cabaña Grande
        </h3>
      </div>



    </div>

    <div class="flex flex-col items-center group mt-10" data-aos="fade-up" data-aos-delay="100">
        <div class="w-full max-w-200 aspect-12/6 rounded-[45px] overflow-hidden shadow-2xl mb-8">
          <img
            src="assets/img/GALERIA/tu-imagen-7.jpg"
            alt="Girasol"
            class="w-full h-full object-cover  transition-transform duration-500 group-hover:scale-110">
        </div>
        <h3 class="g-text-bold cursor-none text-3xl md:text-4xl text-white uppercase tracking-[0.3em] transition-colors duration-300 group-hover:text-[#ff8B64]">
          Cabaña Grande
        </h3>
    </div>

  </div>
</section>


<section class="relative w-full min-h-screen py-20 px-6 md:px-20 overflow-hidden flex items-center justify-center">

  <div class="absolute inset-0 z-0">
    <img
      src="assets/img/HOME/section4.png"
      alt="Fondo de árboles"
      class="w-full h-full object-cover">
    <div class="absolute inset-0 bg-linear-to-b from-white via-transparent"></div>
  </div>

  <div class="relative z-10 max-w-6xl w-full mx-auto flex flex-col items-center">

    <h2 class="g-text-extrabold text-4xl md:text-5xl text-olive-600 mb-16 uppercase tracking-tight text-center">
      AMENIDADES
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-24 items-center w-full">

      <div class="w-full aspect-4/3 rounded-[45px] overflow-hidden shadow-2xl" data-aos="fade-right" data-aos-delay="100">
        <img
          src="assets/img/GALERIA/tu-imagen-1.jpg"
          alt="Amenidades"
          class="w-full h-full object-cover">
      </div>

      <div class="flex flex-col justify-center" data-aos="fade-left" data-aos-delay="100">
        <h3 class="g-text-bold text-3xl text-olive-700 mb-6">
          Horas de Diversión
        </h3>
        <p class="g-text text-md text-olive-500 mb-6">
           En las Cabañas Flores de Luna , cuenta con muchas amenidades para hacer tu estancia placentera.
        </p>

        <ul class="space-y-6">
          <li class="flex items-center gap-4 group">
            <div class="bg-[#56B36E] p-2 rounded-full text-white group-hover:scale-110">
              <svg class="w-5 h-5 " fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path></svg>
            </div>
            <span class="cursor-none g-text-bold text-xl md:text-2xl text-olive-400 transition-colors group-hover:text-[#ff8B64]">Alberca</span>
          </li>

          <li class="flex items-center gap-4 group">
            <div class="bg-[#56B36E] p-2 rounded-full text-white group-hover:scale-110">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path></svg>
            </div>
            <span class="cursor-none g-text-bold text-xl md:text-2xl text-olive-400 transition-colors group-hover:text-[#ff8B64]">Palapa</span>
          </li>

          <li class="flex items-center gap-4 group">
            <div class="bg-[#56B36E] p-2 rounded-full text-white group-hover:scale-110">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path></svg>
            </div>
            <span class="cursor-none g-text-bold text-xl md:text-2xl text-olive-400 transition-colors group-hover:text-[#ff8B64]">Áreas Verdes</span>
          </li>
          <li class="flex items-center gap-4 group">
            <div class="bg-[#56B36E] p-2 rounded-full text-white group-hover:scale-110">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path></svg>
            </div>
            <span class="cursor-none g-text-bold text-xl md:text-2xl text-olive-400 transition-colors group-hover:text-[#ff8B64]">Estacionamiento</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>


<section class="relative w-full py-24 px-6 md:px-20 overflow-hidden flex flex-col items-center">

  <div class="absolute inset-0 z-0">
    <img
      src="assets/img/HOME/section5.png"
      alt="Fondo de árboles"
      class="w-full h-full object-cover">
    <div class="absolute inset-0 bg-linear-to-b"></div>
    <div class="absolute inset-0 bg-linear-to-b from-transparent from-80% to-[#f2f2f0]"></div>

  </div>

<div class="relative z-10 max-w-8xl w-full mx-auto text-center">

  <h2 class="g-text-extrabold text-4xl md:text-5xl text-olive-700 mb-6 uppercase tracking-tight">
    RIO EL FRAILE
  </h2>

  <p class="g-text text-olive-500 mb-12 max-w-4xl mx-auto mt-10">
    El Fraile es parte del cauce del Río Ramos, un lugar perfecto para Nadar, Acampar, Disfrutar de la Naturaleza.
  </p>

  <!-- Contenedor Alargado -->
  <div class="w-full">
    <!-- Cambiamos aspect-4/3 por aspect-[21/9] o aspect-video -->
    <div class="w-full aspect-21/9 md:aspect-3/1 rounded-[30px] md:rounded-[45px] overflow-hidden shadow-xl" data-aos="fade-center" data-aos-delay="100">
      <img
        src="assets/img/HOME/RioFraile2.png"
        alt="Río El Fraile panorámico"
        class="w-full h-full object-cover">
    </div>
  </div>
</div>
</section>
