<footer class="relative w-full overflow-hidden mt-5">

  <div class="w-full">
    <img
      src="assets/img/footer.png"
      alt="Footer Flores de la Luna"
      class="w-full h-auto object-cover block">
  </div>

  <div class="absolute inset-0 flex items-center justify-center py-10">
    <div class=" w-full px-6 md:px-12 grid grid-cols-1 md:grid-cols-[1.5fr_3fr_1.5fr] items-center">

      <a [routerLink]="['/home']" class="flex justify-start">
        <img src="assets/img/LOGO_New2.png" alt="logoo" class="h-40 md:h-60 lg:h-60 object-contain">
      </a>

      <div class="grid grid-cols-3 gap-x-4 md:gap-x-8 text-white font-montserrat text-sm md:text-base justify-center text-center">
        <div class="flex flex-col gap-3">
          <a [routerLink]="['/about-us']" class="hover:text-[#D18B73] transition-colors">Nosotros</a>
          <a [routerLink]="['/gallery']" class="hover:text-[#D18B73] transition-colors">Galería</a>
        </div>
        <div class="flex flex-col gap-3">
          <a [routerLink]="['/reservations']" class="hover:text-[#D18B73] transition-colors">Reservaciones</a>
          <a [routerLink]="['/how-to-get']" class="hover:text-[#D18B73] transition-colors">Cómo llegar</a>
        </div>
        <div class="flex flex-col gap-3">
          <a [routerLink]="['/cancellations']" class="hover:text-[#D18B73] transition-colors">Cancelaciones</a>
          <a [routerLink]="['/regulation']" class="hover:text-[#D18B73] transition-colors">Reglamento</a>
        </div>
      </div>

      <div class="flex flex-col gap-4 text-white text-right items-end">
        <h5 class="font-montserrat font-extrabold text-2xl md:text-3xl uppercase tracking-widest">Síguenos</h5>
        <div class="flex gap-4 justify-end">
          <a href="https://instagram.com/tu-cuenta" target="_blank"
            class="w-10 h-10 rounded-full bg-white/20 hover:bg-white/40 flex items-center justify-center transition-all shadow-sm group">
            <i class="fa-brands fa-instagram text-lg group-hover:scale-110 transition-transform"></i>
          </a>

          <a href="https://facebook.com/tu-cuenta" target="_blank"
            class="w-10 h-10 rounded-full bg-white/20 hover:bg-white/40 flex items-center justify-center transition-all shadow-sm group">
            <i class="fa-brands fa-facebook-f text-lg group-hover:scale-110 transition-transform"></i>
          </a>

          <a href="https://wa.me/tu-numero" target="_blank"
            class="w-10 h-10 rounded-full bg-white/20 hover:bg-white/40 flex items-center justify-center transition-all shadow-sm group">
            <i class="fa-brands fa-whatsapp text-xl group-hover:scale-110 transition-transform"></i>
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="absolute bottom-4 w-full text-center">
    <p class="font-montserrat text-white/40 text-[10px] uppercase tracking-widest">
      © 2026 Flores de la Luna
    </p>
  </div>

</footer>
