@if (showAlert) {
<div class="fixed inset-0 pointer-events-none z-9999">

  <div
    class="absolute top-5 right-5 pointer-events-auto flex justify-end items-start p-5 text-sm rounded-xl shadow-2xl max-w-md border animate-fade-left animate-duration-300"
    [class.bg-emerald-50]="alertType === 'success'" [class.text-emerald-800]="alertType === 'success'"
    [class.border-emerald-200]="alertType === 'success'" [class.bg-red-50]="alertType === 'error'"
    [class.text-red-800]="alertType === 'error'" [class.border-red-200]="alertType === 'error'">

    @if (alertType === 'success') {
    <svg class="shrink-0 inline w-5 h-5 me-3 text-emerald-600" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
        clip-rule="evenodd" />
    </svg>
    } @else {
    <svg class="shrink-0 inline w-5 h-5 me-3 text-red-600" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
        clip-rule="evenodd" />
    </svg>
    }

    <div class="g-text">
      <span class="font-bold">{{ alertType === 'success' ? 'Éxito:' : 'Aviso:' }}</span> {{ alertMessage }}
    </div>

  </div>
</div>
}

<div class="min-h-screen w-full flex items-center justify-center bg-cover bg-center relative"
  style="background-image: url('assets/img/hero-cabin.png');">

  <div class="absolute inset-0 bg-black/40 backdrop-blur-sm"></div>

  <div
    class="bg-white/95 relative z-10 w-full max-w-md p-8 md:p-10 rounded-2xl shadow-2xl mx-4 transition-all animate-fade-center">

    <a [routerLink]="['/home']"
      class="g-text inline-flex items-center gap-2 text-xs text-olive-500 hover:text-[#D18B73] mb-6 transition-colors group">
      ← Volver al inicio
    </a>

    <div class="text-center mb-8">
      <img src="/assets/img/LOGO.png" alt="Flores de la Luna" class="h-40 mx-auto object-contain mb-3">
      <h2 class="g-text text-2xl font-serif font-semibold text-olive-900">Iniciar Sesión</h2>
      <p class="g-text text-sm text-olive-500 font-light mt-1">Qué gusto tenerte de vuelta en el paraíso</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-5">

      <div class="g-text">
        <label class="g-text block text-xs font-medium text-olive-700 uppercase tracking-wider mb-2">Correo
          Electrónico</label>
        <input type="email" formControlName="correo" placeholder="ejemplo@correo.com"
          class="g-text w-full px-4 py-3 rounded-xl border border-olive-200 text-sm focus:outline-none focus:border-[#D18B73] focus:ring-1 focus:ring-[#D18B73] transition-all bg-olive-300">
      </div>

      <div>
        <div class="flex justify-between items-center mb-2">
          <label class="g-text block text-xs font-medium text-olive-700 uppercase tracking-wider">Contraseña</label>
          <a class="g-text text-xs text-olive-400 hover:text-[#D18B73] transition-colors cursor-pointer">¿La
            olvidaste?</a>
        </div>
        <input type="password" formControlName="contrasena" placeholder="••••••••"
          class="g-text w-full px-4 py-3 rounded-xl border border-olive-200 text-sm focus:outline-none focus:border-[#ff8B64] focus:ring-1 focus:ring-[#D18B73] transition-all bg-olive-300">
      </div>

      <button type="submit" [disabled]="loginForm.invalid"
        class="g-text w-full bg-[#ff8B64] hover:bg-[#bd7a63] disabled:bg-olive-400 disabled:cursor-not-allowed text-white font-medium py-3 rounded-xl transition-all shadow-md active:scale-[0.98] mt-4 text-sm cursor-pointer">
        Entrar a mi Cuenta
      </button>
    </form>

    <div class="text-center mt-8 pt-6 border-t border-olive-100">
      <p class="text-sm text-olive-500 font-light">
        ¿Aún no tienes cuenta?
        <a [routerLink]="['/register']" class="font-medium text-[#ff8B64] hover:underline transition-all">Regístrate
          aquí</a>
      </p>
    </div>

  </div>
</div>