<nav class="w-full bg-white z-50 relative">

  <div class="max-w-350 mx-auto px-10 py-2 grid grid-cols-3 items-center">

    <div class="font-montserrat text-sm text-olive-500 font-light leading-relaxed animate-fade-up">
      Jose Felipe Silva S/N<br>
      El Porvenir, N.L.<br>
      C.P. 67363
    </div>

    <a [routerLink]="['/home']" class="flex justify-center gap-12 py-4">
      <img src="/assets/img/LOGO.png" alt="Flores de la Luna" class="h-40 object-contain animate-fade-center cursor-pointer">
    </a>

    <div class="font-montserrat text-right text-sm font-medium text-[#D18B73] animate-fade-up">
      +52 (812) 2329 9930
    </div>
  </div>

  <div class="">
    <div class="font-montserrat max-w-350 mx-auto px-3 py-3 flex justify-center gap-10 text-center">
      <a [routerLink]="['/home']" routerLinkActive="!text-[#D18B73]" class="font-bold text-md  tracking-widest text-olive-700 hover:text-[#D18B73] transition-colors animate-fade-up">Nosotros</a>
      <a [routerLink]="['/gallery']" routerLinkActive="!text-[#D18B73]" class="font-bold text-md  tracking-widest text-olive-700 hover:text-[#D18B73] transition-colors animate-fade-up">Galería</a>
      <a [routerLink]="['/reservations']" routerLinkActive="!text-[#D18B73]" class="font-bold text-md  tracking-widest text-olive-700 hover:text-[#D18B73] transition-colors animate-fade-up">Reservaciones</a>
      <a [routerLink]="['/how-to-get']" routerLinkActive="!text-[#D18B73]" class="font-bold text-md  tracking-widest text-olive-700 hover:text-[#D18B73] transition-colors animate-fade-up">Cómo llegar</a>
      <a [routerLink]="['/cancellations']" routerLinkActive="!text-[#D18B73]" class="font-bold text-md  tracking-widest text-olive-700 hover:text-[#D18B73] transition-colors animate-fade-up">Políticas y Cancelaciones</a>
      <a [routerLink]="['/regulation']" routerLinkActive="!text-[#D18B73]" class="font-bold text-md  tracking-widest text-olive-700 hover:text-[#D18B73] transition-colors animate-fade-up">Reglamento</a>

    </div>
  </div>

</nav>
