<section class="relative w-full min-h-screen flex flex-col items-center py-10 px-6 md:px-20 bg-[#f2f2f0]">

  <h2 class="g-text-extrabold text-3xl md:text-5xl tracking-widest uppercase mb-20 mt-20 text-olive-600 text-center">
    Políticas
  </h2>

  <div class="w-full max-w-4xl mx-auto py-10 text-center space-y-8 md:space-y-12 animate-fade-up">

    <div class="bg-white/50 md:bg-transparent p-6 md:p-0 rounded-2xl">
      <h5 class="g-text text-lg md:text-xl tracking-widest text-olive-400 leading-relaxed">
        <span class="g-text-extrabold text-xl md:text-2xl text-olive-600 uppercase">Sobre la Reserva.</span>
        Las reservaciones directas (realizadas a través de nuestra página) pueden ser confirmadas desde los once meses
        hasta un día de anticipación a su llegada.
      </h5>
    </div>

    <div class="text-olive-400 p-2 rounded-3xl shadow-none md:shadow-none md:bg-transparent md:text-olive-400">
      <h5 class="g-text text-lg md:text-xl tracking-widest leading-relaxed">
        Los pagos deberán hacerse a través de nuestra página, <br> vía
        <span class="font-extrabold text-olive-500 md:text-olive-500">PayPal </span> o
        <span class="font-extrabold text-olive-500 md:text-olive-500">WhatssApp (Transferencia). </span>
      </h5>
    </div>

    <div class=" md:bg-transparent p-6 md:p-0 rounded-2xl">
      <h5 class="g-text text-lg md:text-xl tracking-widest text-olive-400 leading-relaxed">
        Las tarifas con promoción no son reembolsables. Los cambios de fecha están sujetos a disponibilidad (solo una
        ocasión). Un segundo cambio sin disponibilidad se tomará como
        <b class="text-olive-600">"Reservación cancelada"</b>.
      </h5>
    </div>

    <div class="border-y border-olive-200 py-8">
      <h5 class="g-text text-lg md:text-xl tracking-widest text-olive-400 leading-relaxed">
        Reservaciones válidas únicamente en: <br class="hidden md:block">
        <span class="font-extrabold text-olive-600 text-xl md:text-2xl">floresdelaluna.mx</span> <br>
        o vía WhatsApp.
      </h5>
    </div>

    <p class="g-text font-bold text-base md:text-base text-olive-500 ">Flores de la Luna no se hace responsable por fallas ocasionadas por servicios externos como energía eléctrica, internet o fenómenos naturales ajenos a la administración.</p>

    <div class=" p-6 rounded-2xl">
      <h5 class="g-text text-lg md:text-xl tracking-widest text-olive-400 italic">
        "Le pedimos de favor que, una vez registrado el pago, envíe por email la ficha de depósito y a su llegada
        presente la original."
      </h5>
    </div>

  </div>

</section>




<section class="relative w-full py-12 md:py-20 px-4 md:px-10 flex items-center justify-center bg-[#f2f2f0] ">

  <div class="absolute inset-0 z-0">
    <img src="assets/img/CANCELACION/section1.png" alt="Fondo"
      class="w-full h-full object-cover opacity-50 md:opacity-100">
  </div>

  <div class="relative z-10 w-full max-w-4xl mx-auto text-center px-4 md:px-0">

    <h2 class="g-text-extrabold text-2xl md:text-3xl tracking-widest mb-8 text-olive-700 uppercase" data-aos="fade-down"
      data-aos-delay="100">
      Para revisar su reservación podrá hacerse de dos maneras:
    </h2>

    <div class="space-y-8">
      <div class="bg-transparent md:bg-transparent backdrop-blur-sm md:backdrop-blur-none p-6 rounded-2xl"
        data-aos="fade-down" data-aos-delay="200">
        <h5 class="g-text text-lg md:text-xl tracking-widest text-olive-500 leading-relaxed">
          <span class="block font-bold text-olive-700 mb-2">1) Transferencia por Whatsapp</span>
          En caso de que su reservacion sea el mismo dia ,se hara una transferencia bancaria de su banco via Whatsapp +52 (812) 2329 9930
        </h5>
      </div>

      <div class="bg-transparent md:bg-transparent backdrop-blur-sm md:backdrop-blur-none p-6 rounded-2xl"
        data-aos="fade-down" data-aos-delay="300">
        <h5 class="g-text text-lg md:text-xl tracking-widest text-olive-500 leading-relaxed">
          <span class="block font-bold text-olive-700 mb-2">2) Correo de Confirmación</span>
          En caso de que su reservacion sea 3 dias antes de su reservacion,verificar en su bandeja de entrada el correo de confirmación de la reserva, el cual se envía de forma
          automática al cerrar el proceso. En caso de no recibirlo, revise su carpeta de <b>Spam</b>.
        </h5>
      </div>
    </div>

  </div>

</section>



<section class="relative w-full py-20 px-6 md:px-20 flex items-center justify-center">

  <!-- Fondo de la sección -->
  <div class="absolute inset-0 z-0">
    <img src="assets/img/CANCELACION/section2.png" alt="Fondo" class="w-full h-full object-cover opacity-80">
  </div>

  <div class="absolute inset-0 bg-linear-to-b"></div>
  <div class="absolute inset-0 bg-linear-to-b from-transparent from-80% to-[#f2f2f2]"></div>

  <div class="relative z-20 max-w-7xl mx-auto">

    <!-- Grid de 3 Columnas: Prohibiciones, Check In, Check Out -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mb-16">

      <!-- Columna 1: PROHIBICIONES -->
      <div class="flex flex-col" data-aos="fade-left" data-aos-delay="200">
        <div class="flex items-center gap-3 mb-6">
          <img src="assets/img/CANCELACION/icon_1.png" alt="Prohibido" class="w-10 h-10 object-contain">
          <h3 class="g-text-extrabold text-xl uppercase tracking-wider text-olive-700">Prohibiciones</h3>
        </div>
        <ul class="space-y-4 text-olive-500 font-medium text-lg leading-relaxed">
          <li class="g-text">• Queda <span class="g-text font-bold uppercase text-olive-500">prohibido</span> aceptar
            cheques personales o a nombre del Hotel para el pago de hospedaje y/o consumos.</li>
          <br>
          <li class="g-text">• Cambio de nombre: No se permite una vez confirmada la reservación.</li>
          <br>
          <li class="g-text">• Cambio de tipo de Cabaña: Está sujeto a disponibilidad.</li>
          <br>
        </ul>
      </div>

      <!-- Columna 2: CHECK IN -->
      <div class="flex flex-col" data-aos="fade-left" data-aos-delay="300">
        <div class="flex items-center gap-3 mb-6">
          <img src="assets/img/CANCELACION/icon_2.png" alt="check-in" class="w-10 h-10 object-contain">
          <h3 class="g-text-extrabold text-xl uppercase tracking-wider text-olive-700">Check In</h3>
        </div>
        <ul class="space-y-4 text-olive-500 font-medium text-lg leading-relaxed">
          <li class="g-text">• Hora inicial de CHECK-IN: 2:00 PM</li>
          <br>
          <li class="g-text">• Hora final de check-in: 4:00 PM.</li>
          <br>
          <li class="g-text">• Edad mínima de check-in: 18 años.</li>
        </ul>
      </div>

      <!-- Columna 3: CHECK OUT -->
      <div class="flex flex-col" data-aos="fade-left" data-aos-delay="400">
        <div class="flex items-center gap-3 mb-6">
          <img src="assets/img/CANCELACION/icon_3.png" alt="check-out" class="w-10 h-10 object-contain">
          <h3 class="g-text-extrabold text-xl uppercase tracking-wider text-olive-700">Check Out</h3>
        </div>
        <ul class="space-y-4 text-olive-500 font-medium text-lg leading-relaxed">
          <li class="g-text">• Hora final de CHECK-OUT: 12:00 PM</li>
          <br>
          <li class="g-text">• Salida después de las 12:00 PM: se cobrará HORAS EXTRAS 500 PESOS MAX 3 HRS.</li>
          <br>
          <li class="g-text">• Salida después de las 4:00 PM: se cobrará una noche mas.</li>
          <br>
        </ul>
      </div>
    </div>

    <div class="text-center" data-aos="zoom-out" data-aos-delay="200">
      <p class="g-text text-lg font-bold mb-5">HORAS EXTRAS 500 PESOS MAX 3 HRS <br>
         SI REQUIERE MAS HORAS, SERÍA UNA NOCHE</p>
    </div>

    <!-- Sección Inferior: Mascotas y Humo -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center pt-10">

      <!-- No Mascotas -->
      <div class="flex items-center gap-6 justify-center md:justify-start" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/CANCELACION/icon_4.png" alt="No Mascotas" class="w-24 h-24 object-contain">
        <h4 class="g-text-extrabold text-xl text-olive-700 leading-tight uppercase">No se<br>aceptan<br>mascotas</h4>
      </div>

      <!-- No Fumar -->
      <div class="flex items-center gap-6" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/CANCELACION/icon_5.png" alt="No Fumar" class="w-24 h-24 object-contain">
        <p class="g-text text-olive-500 text-lg leading-relaxed">
          Todas nuestras cabañas son espacios
          <span class="font-bold text-olive-700 text-lg">100% Libres de Humo</span>.
          En caso de fumar dentro de la habitación se aplicará cargo de limpieza profunda.
        </p>
      </div>

    </div>
  </div>

  <!-- Capa de desvanecimiento extra para la orilla (opcional) -->
  <div class="absolute -bottom-1 left-0 w-full h-100 bg-linear-to-t from-[#f2f2f0] via-[#f2f2f0] to-transparent z-2">
  </div>
</section>



<section class="relative w-full flex flex-col md:flex-row items-center justify-center bg-[#f2f2f0]">

  <div class="absolute inset-0 w-full h-full md:relative md:w-full md:h-auto">
    <img src="assets/img/CANCELACION/section3.png" alt="Fondo" class="w-full h-full object-cover md:h-auto md:block">
    <div class="absolute inset-0 bg-black/20 md:hidden"></div>
  </div>

  <div class="relative md:absolute z-10 w-[92%] md:w-[90%] max-w-7xl
              my-10 md:my-0
              bg-white/40 md:bg-white/40 backdrop-blur-md md:backdrop-blur-xs
              rounded-[30px] md:rounded-[50px]
              p-8 md:p-16 shadow-2xl" data-aos="flip-up" data-aos-delay="200">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-20 items-start text-left">

      <div class="flex flex-col">
        <h2
          class="g-text-extrabold text-xl md:text-2xl text-olive-900 md:text-olive-800 mb-6 uppercase tracking-widest">
          Información Importante
        </h2>
        <ul class="space-y-6 text-olive-900 md:text-olive-800 font-medium leading-relaxed">
          <li class="flex gap-3">
            <span class="text-xl">•</span>
            <p class="g-text text-lg md:text-xl">Puede aplicarse un cargo por cada persona adicional, según la política
              del establecimiento. Todos los precios están en pesos o en dólares al tipo de cambio del día y están
              sujetos a cambios sin previo aviso y a la instauración de nuevos impuestos.</p>
          </li>
          <li class="flex gap-3">
            <span class="text-xl">•</span>
            <p class="g-text text-lg md:text-xl">Los precios son más impuestos, 16% de IVA, en caso de requerir
              facturación.</p>
          </li>
        </ul>
      </div>

      <div class="flex flex-col">
        <h3 class="g-text-extrabold text-lg md:text-2xl text-olive-900 md:text-olive-800 mb-6">
          El costo de la cabaña incluye:
        </h3>
        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4 md:gap-5">
          <li class="flex items-center gap-4">
            <div class="bg-[#56B36E] p-1 rounded-full text-white shrink-0">
              <svg class="w-4 h-4 md:w-5 md:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <span class="g-text font-bold text-base md:text-xl text-olive-900 md:text-olive-800">Uso de la
              piscina</span>
          </li>
          <li class="flex items-center gap-4">
            <div class="bg-[#56B36E] p-1 rounded-full text-white shrink-0">
              <svg class="w-4 h-4 md:w-5 md:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <span class="g-text font-bold text-base md:text-xl text-olive-900 md:text-olive-800">Acceso a Áreas
              Verdes</span>
          </li>
          <li class="flex items-center gap-4">
            <div class="bg-[#56B36E] p-1 rounded-full text-white shrink-0">
              <svg class="w-4 h-4 md:w-5 md:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <span class="g-text font-bold text-base md:text-xl text-olive-900 md:text-olive-800">Asador y Áreas
              comunes</span>
          </li>
          <li class="flex items-center gap-4">
            <div class="bg-[#56B36E] p-1 rounded-full text-white shrink-0">
              <svg class="w-4 h-4 md:w-5 md:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <span class="g-text font-bold text-base md:text-xl text-olive-900 md:text-olive-800">WIFI Gratuito</span>
          </li>
          <li class="flex items-center gap-4">
            <div class="bg-[#56B36E] p-1 rounded-full text-white shrink-0">
              <svg class="w-4 h-4 md:w-5 md:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
              </svg>
            </div>
            <span class="g-text font-bold text-base md:text-xl text-olive-900 md:text-olive-800">Estacionamiento</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>



<section class="relative w-full min-h-screen flex flex-col items-center py-10 bg-[#f2f2f0]">

  <h2
    class="g-text-extrabold text-3xl md:text-5xl tracking-widest uppercase mt-10 md:mt-20 text-olive-600 text-center px-4">
    Cancelaciones
  </h2>

  <div class="w-full px-6 md:px-20 lg:px-40 py-10 mb-6 mt-6">


    <div class="text-center max-w-4xl mx-auto mb-12" data-aos="zoom-out" data-aos-delay="200">

      <h2 class="g-text text-xl md:text-2xl tracking-widest text-olive-400 leading-relaxed">
       <strong>*</strong> Más de 15 días: reembolso del 90%
      </h2>
      <h2 class="g-text text-xl md:text-2xl tracking-widest text-olive-400 leading-relaxed">
        <strong>*</strong> 7 a 14 días: saldo a favor
      </h2>
      <h2 class="g-text text-xl md:text-2xl tracking-widest text-olive-400 leading-relaxed">
        <strong>*</strong> Menos de 7 días: sin reembolso
      </h2>

    </div>



    <div class="text-center max-w-4xl mx-auto mb-5" data-aos="zoom-out" data-aos-delay="200">
      <h5 class="g-text text-base md:text-lg tracking-widest text-olive-400 leading-relaxed">
        <span class="block g-text text-xl md:text-2xl font-extrabold text-olive-600 mb-4">AVISO IMPORTANTE.</span>
        El cargo de la reservación está incluido en el precio total del pago realizado. Solo se permite el acceso a las
        Cabañas a los huéspedes registrados en la reservación. Algunas actividades o instalaciones pueden tener acceso
        limitado. Se invita a los huéspedes a ponerse en contacto con el establecimiento utilizando los datos de
        contacto que aparecen en la confirmación de la reservación.
      </h5>
    </div>

    <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-16 w-full max-w-7xl mx-auto">

      <div class="flex flex-col text-base md:text-lg space-y-6" data-aos="fade-right" data-aos-delay="200">
        <h5 class="g-text tracking-widest text-olive-400">
          A continuación, las <b class="text-olive-600">Cabañas Flores de Luna</b>, le describe sus políticas generales
          de cancelación aplicables para hospedaje:
        </h5>

        <h5 class="g-text tracking-widest text-olive-400">
          Para cancelar una reservación directa el cliente tendrá que tomar en cuenta lo siguiente: Si se cancela <b
            class="text-olive-500">72 horas</b> antes no se penalizará, después de este periodo se cobrará el costo
          total de la reservación.
        </h5>

        <h5 class="g-text tracking-widest text-olive-400 italic bg-olive-50 p-4 rounded-lg">
          En caso de que el huésped no se presente a la reserva sin aviso alguno, no habrá reembolso. <br><br>
          En caso de las Salidas Anticipadas, no existen compensaciones o reembolsos. <br><br>
          Para las temporadas de Navidad, Año Nuevo, Semana Santa y Pascua, las políticas de cancelación siempre son
          diferentes.
        </h5>

        <div class="space-y-4">
          <h5 class="g-text tracking-widest text-olive-600 font-semibold">
            1.- Las reservaciones canceladas 15 días o más antes de la fecha de llegada están sujetas a un cargo de 25%
            del total.
          </h5>
          <h5 class="g-text tracking-widest text-olive-600 font-semibold">
            2.- Las reservaciones canceladas de 14 a 3 días antes de la fecha de llegada están sujetas a un cargo 50%
            del total.
          </h5>
          <h5 class="g-text tracking-widest text-olive-600 font-semibold">
            3.- Las reservaciones canceladas de 2 a 0 días antes de la fecha de llegada, no serán reembolsadas.
          </h5>
        </div>

        <h5 class="g-text tracking-widest text-olive-400">
          Las tarifas no reembolsables podrán tomarse a cuenta para otro servicio e incluso es transferible: <b
            class="text-olive-600">nombre@cabañasfloresdeluna.mx.</b>
        </h5>

        <h5 class="g-text tracking-widest text-olive-400">
          <b>Cambios de fecha:</b> No aplica en tarifas promocionales. Para tarifas normales, sujeto a disponibilidad y
          sólo podrán realizar un cambio.
        </h5>
      </div>

      <div class="flex flex-col text-base md:text-lg space-y-6" data-aos="fade-left" data-aos-delay="200">
        <h5 class="g-text tracking-widest text-olive-400">
          En los casos en los que proceda el reembolso, se hará de 5 a 8 días hábiles. El tiempo en que se vea reflejado
          depende de su banco emisor (hasta 15 días).
        </h5>

        <h5 class="g-text tracking-widest text-olive-400">
          Las Cabañas Flores de Luna <b class="text-olive-600">NO</b> acepta prorroga o devolución de dinero una vez
          vencidos estos plazos. No hay devoluciones al 100%.
        </h5>

        <h5 class="g-text tracking-widest text-olive-400">
          Cuando el cliente tuviere que adelantar su fecha de salida, quedará restringida la devolución total o parcial
          de las noches ya pagadas.
        </h5>

        <h5 class="g-text tracking-widest text-olive-400">
          <b>Cambio de tipo de Cabaña:</b> está sujeto a disponibilidad. En caso de tenerla la opción a cambio, se
          confirmará vía WhatsApp, Llamada o Correo Electrónico.
        </h5>

        <div class="g-text tracking-widest p-6 rounded-xl space-y-4">
          <h5 class="font-bold text-olive-600 uppercase text-sm">Nota: esta confirmación se entenderá como:</h5>
          <p class="text-md text-olive-400">
            1)Verificar en su bandeja de entrada el correo de confirmación de la reserva, el cual se envía de forma
            automática al cerrar el proceso de la reservación. En caso de no recibir el correo, es importante revisar la
            bandeja de correos no deseados (Spams). Si el correo sigue sin llegar, se debe enviar un WhatsApp al número
            de teléfono <b>+52 (812) 2329 9930</b>, ahí será atendido por uno de nuestros agentes para resolver todas
            sus dudas o comentarios.
          </p>
          <p class="text-md text-olive-400">
            2)Como segunda opción, aceptamos depósitos en efectivo o transferencia bancaria, únicamente a nuestra cuenta
            de cheques en pesos, con el monto de la primera noche de la(s) habitación(es) requerida(s). Una vez
            realizada esta transacción se le informa al cliente que debe mandar una copia con sus datos de la ficha de
            depósito por fax o email para registrarlo con su reservación y a su llegada traer la original (2). El hotel
            le dará un plazo de 1 día hábil para que se realice dicho depósito, en caso de no hacerlo quedará cancelada
            su pre reservación automáticamente. Si el depósito es registrado posterior a los dos días, el Hotel no se
            hace responsable de la disponibilidad de la cabaña (as) solicitada(s).
          </p>
        </div>
      </div>
    </div> -->
  </div>
</section>


<!-- ÁRBOL DECORATIVO A LA DERECHA -->
<!-- Cambiamos '-right-...' por '-left-...' -->
<div class="absolute left-500 md:-left-120 top-220 h-full w-250 md:w-300 z-0 pointer-events-none rotate-90">
  <!-- 'object-left-top' para anclar las ramas a la esquina superior izquierda -->
  <img src="assets/img/RESERVACIONES/Recurso-9.png"
    class="w-full h-full object-contain object-top-left opacity-90 transition-transform duration-700 animate-viento-90">
</div>

<!-- ÁRBOL DECORATIVO A LA IZQUIERDA -->
<!-- Cambiamos '-right-...' por '-left-...' -->
<div class="absolute right-100 md:-right-100 top-300 h-full w-250 md:w-300 z-0 pointer-events-none">
  <!-- 'object-left-top' para anclar las ramas a la esquina superior izquierda -->
  <img src="assets/img/RESERVACIONES/Recurso-9.png"
    class="w-full h-full object-contain object-top-right opacity-90 transition-transform duration-700 animate-viento">
</div>
